/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Your Name!
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

#masthead {
    background: none repeat scroll 0 0 #45ab9d;
}
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}
.button {
    background: #45ab9d;
}
.blog-post {
	width: 50%;
	float: left;
	margin-bottom: 2em;
}
.blog-post h4 {
	text-transform: uppercase;
	color: #a6a6a6;	
	font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
	margin: 2em 0 .5em;
}
.blog-post h3 {
	font-size: 1.5em;
}
.blog-post p {
	color: #4c4c4c;
}
.read-more-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}

/*Case Studies */

aside.case-study-sidebar {
	float:left;
	width: 290px;
	margin: 0 70px 0 0;
}
.case-study-images {
	float:left;
	width:600px;
}
.case-study-images img {
	display:block;
	margin-bottom:50px;
	border:solid 1px #dddddd;
}
aside.case-study-sidebar h2 {
	color: #4a4a4a;
	font: 600 25px 'Open Sans', Arial, sans-serif;
	margin:3em 0 0.4em;
}
aside.case-study-sidebar h5 {
	color: #acacac;
	font-weight: 100;
	font: 14px 'Open Sans', Arial, sans-serif;
	text-transform: unset;
	margin:0 0 .8em;
}
aside.case-study-sidebar h6 {
	font: 400 .8em/1.25 'Open Sans', Arial, sans-serif;
	margin:0;
}
aside.case-study-sidebar p {
	font:16px/1.65 'Open Sans', Arial, sans-serif;
}
a.view-live-site {
	color:#44ad9c;
	text-transform: uppercase;
	font-size:.9em;
	font-weight:700;
}
article.case-study {
	margin:3em 0 0;
}

/* Feautured Work - Home Page */

.individual-featured-work {
    display: inline;
    width: 29%;
    float: left;
    margin-right: 4%;
}
.featured-work {
    padding-bottom: 50px;
}
.featured-work h2 {
	text-align:center;
	text-transform: uppercase;
	color:#707070;
}
.featured-work h4 {
	text-align:center;
}
.featured-work a {
	color:#707070;
}
/* Case Studies Archive */

div.case-study-images img {
	width: 100%;
	height: auto;
}
/* Social Media Nav */

.social-media-menu li {
	display:inline;
}
.social-media-menu a {
	color:#fff;
	background-color:#000;
	padding: 2px 6px;
    font-size: 17px;
    border-radius: 50%;
    margin-left:3px;
    text-align: center;
}
.fa {
   width: 17px !important; 
}
/* Form */
#nf-field-1-container,  #nf-field-2-container {
	width: 48.5%;
}
#nf-field-1-container {
	float:left;
}
#nf-field-2-container {
	float:right;
	clear:right;
}
input#nf-field-4 {
	background-color: #45ab9d;
}
.nf-form-fields-required {
	padding-bottom:35px;
}

.submit-btn {
    float: right;
    clear: right;
}
.form-width {
	padding: 0 110px 0 180px;
}
.main-content h2 {
	font-size: 1.45em;
}
.main-content p {
	margin: .5em auto;
}
.nf-field-label label {
    font-weight: 600 !important;
}